<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:p="http://primefaces.org/ui">
    <f:view encoding="ISO-8859-1" locale="pt_BR" >
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
            <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
            <h:outputStylesheet library="css" name="bootstrap.min.css"  />
            <h:outputStylesheet library="css" name="main.css"  />
            <title>eLibrary | <ui:insert name="title"></ui:insert></title>
        </h:head>
        <h:body>
            <header>
                <nav role="navigation" class="navbar navbar-default navbar-fixed-top navbar-inverse">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <h:panelGroup  >
                                <button data-target="#bs-example-navbar-collapse-6" data-toggle="collapse" class="navbar-toggle" type="button">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </h:panelGroup>
                            <a href="#" class="navbar-brand">eLibrary</a>
                        </div>
                        <div id="bs-example-navbar-collapse-6" class="collapse navbar-collapse">
                            <h:panelGroup rendered="#{acesso.logado}" >
                                <ul class="nav navbar-nav">
                                    <li><a href="#{facesContext.externalContext.requestContextPath}/localizar.xhtml">
                                            <i class="glyphicon glyphicon-home" /> Inicio</a>
                                    </li>
                                    <li><a href="#{facesContext.externalContext.requestContextPath}/emprestado.xhtml">
                                            <i class="glyphicon glyphicon-plus" /> Emprestados</a>
                                    </li>
                                    <li><a href="#{facesContext.externalContext.requestContextPath}/devolvido.xhtml">
                                            <i class="glyphicon glyphicon-plus" /> Devolvidos</a>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="logout">
                                        <h:form class="navbar-form logout">                         
                                            <h:commandLink action="#{acesso.sair()}">                         
                                                <i class="glyphicon glyphicon-log-out pull-left"></i> Sair
                                            </h:commandLink>
                                        </h:form>
                                    </li>
                                </ul>
                            </h:panelGroup>
                            <h:panelGroup rendered="#{!acesso.logado}" >
                                <h:form acceptcharset="ISO-8859-1" id="login" styleClass="navbar-form navbar-right" >
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">Usuario</div>
                                            <h:inputText value="#{acesso.usuario.login}" id="usuario" styleClass="form-control input-sm" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-addon">Senha</div>
                                            <h:inputSecret value="#{acesso.usuario.senha}" id="password" styleClass="form-control input-sm" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h:commandLink styleClass="btn btn-sm btn-primary col-xs-12" action="#{acesso.entrar()}" >
                                            <i class="glyphicon glyphicon-log-in"> </i> Entrar
                                        </h:commandLink>
                                    </div>
                                </h:form>
                            </h:panelGroup>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="jumbotron container-fluid" id="wrap">
                <div id="push" ></div>
                <ui:insert name="content">
                </ui:insert>
                <div id="push" ></div>
            </div>

            <p:growl transient="true" sticky="true" id="growl" />

            <footer id="footer" class="jbtn-staff">
                <div id="inner-footer" >
                    <div class="container text-center">
                        <div>eLibray</div>
                    </div>
                </div>
            </footer>
            <h:outputScript library="js" name="jquery-1.11.0.min.js" />
            <h:outputScript library="js" name="bootstrap.min.js" />
            <ui:insert name="javascripts"></ui:insert>
        </h:body>
    </f:view>
</html>
