<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html">

    <ui:composition template="/templates/template.xhtml">    
        <ui:define name="title">404 | Página não encontrada</ui:define>
        <ui:define name="content">   
            <h:form id="404" styleClass="col-xs-12 col-md-6" >
                <fieldset class="text-center">
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <h1 class="error-code">404</h1>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="text-center">
                    <hr />
                    <p class="text-danger">Página não encontrada!</p>
                    <h:commandLink styleClass="btn btn-lg btn-primary col-xs-12" action="login" >
                        <i class="glyphicon glyphicon-home"> </i> Ir à Página inicial
                    </h:commandLink>
                </fieldset>
            </h:form>
        </ui:define>
    </ui:composition>
</html>