<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html">

    <ui:composition template="/templates/template.xhtml">    
        <ui:define name="title">500 | Erro Interno</ui:define>
        <ui:define name="content">   
            <h:form id="500" styleClass="col-xs-12 col-md-6" >
                <fieldset class="text-center">
                    <div class="col-xs-12">
                        <div class="col-xs-6">
                            <h1 class="error-code">500</h1>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="text-center">
                    <hr />
                    <p class="text-danger">Ocorreu um erro na aplicação!</p>
                    <h:commandLink styleClass="btn btn-lg btn-primary col-xs-12"  action="login" >
                        <i class="glyphicon glyphicon-home"> </i> Ir à Página inicial
                    </h:commandLink>
                </fieldset>
                <hr/>
                <span id="view-error" class="btn btn-xs btn-default">
                    <i class="glyphicon glyphicon-eye-open"> </i>
                </span>
                <fieldset id="error-code" class="text-center">
                    <p class="my-pre">#{requestScope['javax.servlet.error.exception']}</p>
                </fieldset>
            </h:form>
        </ui:define>
    </ui:composition>
</html>