<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/templates/template.xhtml">    
        <ui:define name="title">Editar</ui:define>
        <ui:define name="content">  
            <div class="col-sm-12">
                <h:form acceptcharset="ISO-8859-1" id="localizar" styleClass="col-xs-12 box">
                    <fieldset >
                        <div class="form-group col-xs-12 col-sm-4">
                            <label class="control-label" for="titulo" >Título</label>
                            <p:inputText placeholder="Título" value="#{gerenciarLivro.livro.titulo}" id="titulo" styleClass="form-control input-sm" />
                        </div>
                        <div class="form-group col-xs-12 col-sm-4">
                            <label class="control-label" for="autor" >Autor</label>
                            <p:inputText placeholder="Autor" value="#{gerenciarLivro.livro.autor}" id="autor" styleClass="form-control input-sm" />
                        </div>
                        <div class="form-group col-xs-12 col-sm-4">
                            <label class="control-label" for="editora" >Editora</label>
                            <p:inputText placeholder="Editora" value="#{gerenciarLivro.livro.editora}" id="editora" styleClass="form-control input-sm" />
                        </div>
                        <div class="form-group col-xs-12 col-sm-4">
                            <label class="control-label" for="genero" >Gênero</label>
                            <p:inputText placeholder="Gênero" value="#{gerenciarLivro.livro.genero}" id="genero" styleClass="form-control input-sm" />
                        </div>
                        <div class="form-group col-xs-12 col-sm-4">
                            <label class="control-label" for="isbn" >ISBN</label>
                            <p:inputText placeholder="ISBN" value="#{gerenciarLivro.livro.ISBN}" id="isbn" styleClass="form-control input-sm" />
                        </div>
                        <div class="form-group col-xs-6 col-sm-4">
                            <label class="control-label" for="ano" >Ano</label>
                            <p:inputText placeholder="Ano" value="#{gerenciarLivro.livro.ano}" id="ano" styleClass="form-control input-sm" />
                        </div>
                        <div class="form-group col-xs-6 col-sm-4">
                            <label class="control-label" for="edicao" >Edição</label>
                            <p:inputText placeholder="Edição" value="#{gerenciarLivro.livro.edicao}" id="edicao" styleClass="form-control input-sm" />
                        </div>
                        <div class="form-group col-xs-6 col-sm-4">
                            <label class="control-label" for="exemplares" >Número de Exemplares</label>
                            <p:spinner placeholder="Número de Exemplares" value="#{gerenciarLivro.numeroExemplares}" id="exemplares"  />
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">
                            <h:commandLink styleClass="btn btn-sm btn-info col-xs-12" action="#{gerenciarLivro.atualizar()}">
                                <i class="glyphicon glyphicon-refresh pull-left"> </i> Atualizar
                            </h:commandLink>
                        </div>
                    </fieldset>
                </h:form>
            </div>            
        </ui:define>
        <ui:define name="javascripts">
            <script type="text/javascript" >
                $(".plus").on("click", function () {
                    $(this).parent("div").next("div").toggleClass("hide");
                });
            </script>   
        </ui:define>
    </ui:composition>
</html>