<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/templates/template.xhtml">    
        <ui:define name="title">Fila de Espera</ui:define>
        <ui:define name="content">  
            <div class="col-sm-12">
                <h:form acceptcharset="ISO-8859-1" id="lista" styleClass="col-xs-12 box" >
                    <div class="row-fluid">
                        <label><strong>Exemplares emprestados: #{gerenciarLivro.emEmprestimo.size()}</strong></label>
                    </div>

                    <p:dataScroller value="#{gerenciarLivro.emEmprestimo}" mode="inline" var="emprestimo" scrollHeight="500" chunkSize="10" >
                        <fieldset class="col-xs-12">
                            <div class="col-xs-10 col-sm-10 ">
                                <div class="col-xs-6 col-sm-4">
                                    <label>#{emprestimo.livro.titulo}</label>
                                </div>
                                <div class="col-xs-6 col-sm-4">
                                    <label>#{emprestimo.livro.autor}</label>
                                </div>
                                <div class="col-xs-6 col-sm-4">
                                    <label>#{emprestimo.livro.ISBN}</label>
                                </div>
                            </div>
                            <div class="col-xs-10 col-sm-10 ">
                                <div class="col-xs-6 col-sm-3">
                                    <label>#{emprestimo.cliente.rg}</label>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <label>
                                        <strong>#{emprestimo.cliente.nome}</strong>
                                    </label>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <label class="text-info" >#{emprestimo.cliente.email}</label>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <label>#{emprestimo.cliente.telefone}</label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-lg-2 ">
                                <h:commandLink styleClass="btn btn-sm btn-info col-xs-12" action="#{gerenciarLivro.registrarDevolucao(emprestimo)}">
                                    <i class="glyphicon glyphicon-check pull-left"> </i> Registrar Devolução
                                </h:commandLink>
                            </div>
                        </fieldset>
                    </p:dataScroller>

                </h:form>
            </div>            
        </ui:define>
    </ui:composition>
</html>