<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/templates/template.xhtml">    
        <ui:define name="title">Fila de Espera</ui:define>
        <ui:define name="content">  
            <div class="col-sm-12">
                <h:form acceptcharset="ISO-8859-1" id="lista" styleClass="col-xs-12 box" rendered="#{gerenciarLivro.livro ne null}">
                    <fieldset >
                        <div class="col-xs-10 col-sm-12 pull-left">
                            <div class="col-xs-12 col-sm-12">
                                <label>
                                    <strong>#{gerenciarLivro.livro.titulo}</strong>
                                </label>
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <label class="text-info" >#{gerenciarLivro.livro.autor}</label>
                            </div>
                            <div class="col-xs-6 col-sm-6">
                                <label>#{gerenciarLivro.livro.editora}</label>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <label>#{gerenciarLivro.livro.genero}</label>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <label>#{gerenciarLivro.livro.ISBN}</label>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <label>#{gerenciarLivro.livro.ano}</label>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <label>#{gerenciarLivro.livro.edicao}</label>
                            </div>
                        </div>

                        <div class="col-xs-10 col-sm-12 pull-left">
                            <div class="form-group col-xs-12 col-sm-3">
                                <p:inputText placeholder="RG" value="#{gerenciarLivro.rg}" id="rg" styleClass="form-control input-sm" />
                            </div>
                            <div class="form-group col-xs-12 col-sm-3">
                                <p:inputText placeholder="Nome" value="#{gerenciarLivro.nome}" id="nome" styleClass="form-control input-sm" />
                            </div>
                            <div class="form-group col-xs-12 col-sm-3">
                                <p:inputText placeholder="e-mail" value="#{gerenciarLivro.email}" id="email" styleClass="form-control input-sm" />
                            </div>
                            <div class="form-group col-xs-12 col-sm-3">
                                <p:inputText placeholder="Telefone" value="#{gerenciarLivro.telefone}" id="telefone" styleClass="form-control input-sm" />
                            </div>
                            <div class="form-group col-xs-12 col-sm-12">
                                <h:commandLink styleClass="btn btn-sm btn-info col-xs-12" action="#{gerenciarLivro.adicionarAFila()}">
                                    <i class="glyphicon glyphicon-plus-sign pull-left"> </i> Adicionar à Fila de Espera
                                </h:commandLink>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">
                            <h:commandLink 
                                action="#{gerenciarLivro.registrarEmprestimo()}"
                                styleClass="btn btn-sm btn-success col-xs-12 #{gerenciarLivro.livro.espera.size() > 0 ? '' : 'disabled'}" >
                                <i class="glyphicon glyphicon-bookmark pull-left"> </i> Registrar Empréstimo
                            </h:commandLink>
                        </div>
                    </fieldset>
                    <div class="row-fluid">
                        <label><strong>Em espera: #{gerenciarLivro.livro.espera.size()}</strong></label>
                    </div>


                    <p:dataScroller value="#{gerenciarLivro.livro.espera}" mode="inline" var="cliente" scrollHeight="200" 
                                    chunkSize="10" rendered="#{gerenciarLivro.livro.espera.size() > 0}">
                        <fieldset >
                            <div class="col-xs-10 col-sm-12 pull-left">
                                <div class="col-xs-6 col-sm-3">
                                    <label>#{cliente.rg}</label>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <label>
                                        <strong>#{cliente.nome}</strong>
                                    </label>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <label class="text-info" >#{cliente.email}</label>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <label>#{cliente.telefone}</label>
                                </div>
                            </div>
                        </fieldset>
                    </p:dataScroller>

                </h:form>
            </div>            
        </ui:define>
    </ui:composition>
</html>