<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  
      xmlns:ui="http://java.sun.com/jsf/facelets" 
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/templates/template.xhtml">    
        <ui:define name="title">Livros</ui:define>
        <ui:define name="content">  
            <div class="col-sm-4">
                <h:form acceptcharset="ISO-8859-1" id="localizar" styleClass="col-xs-12 box">
                    <fieldset >
                        <div class="form-group col-xs-12 col-sm-12">
                            <p:inputText placeholder="Título" value="#{gerenciarLivro.titulo}" id="titulo" styleClass="form-control input-sm" />
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">
                            <p:inputText placeholder="Autor" value="#{gerenciarLivro.autor}" id="autor" styleClass="form-control input-sm" />
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">
                            <p:inputText placeholder="Editora" value="#{gerenciarLivro.editora}" id="editora" styleClass="form-control input-sm" />
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">
                            <p:inputText placeholder="Gênero" value="#{gerenciarLivro.genero}" id="genero" styleClass="form-control input-sm" />
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">
                            <p:inputText placeholder="ISBN" value="#{gerenciarLivro.ISBN}" id="isbn" styleClass="form-control input-sm" />
                        </div>
                        <div class="form-group col-xs-6 col-sm-6">
                            <p:inputText placeholder="Ano" value="#{gerenciarLivro.ano}" id="ano" styleClass="form-control input-sm" />
                        </div>
                        <div class="form-group col-xs-6 col-sm-6">
                            <p:inputText placeholder="Edição" value="#{gerenciarLivro.edicao}" id="edicao" styleClass="form-control input-sm" />
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">
                            <h:commandLink styleClass="btn btn-sm btn-info col-xs-12" action="#{gerenciarLivro.pesquisarLivro()}">
                                <i class="glyphicon glyphicon-search pull-left"> </i> Pesquisar
                            </h:commandLink>
                        </div>
                        <h:panelGroup rendered="#{acesso.logado}" styleClass="form-group col-xs-12 col-sm-12">
                            <h:commandLink styleClass="btn btn-sm btn-primary col-xs-12" action="#{gerenciarLivro.adicionarLivro()}">
                                <i class="glyphicon glyphicon-plus pull-left"> </i> Adicionar
                            </h:commandLink>
                        </h:panelGroup>
                    </fieldset>
                </h:form>
            </div>
            <div class="col-sm-8">

                <h:form acceptcharset="ISO-8859-1" id="lista" styleClass="col-xs-12 box" >
                    <div class="row-fluid">
                        <label ><strong>Total de livros: #{gerenciarLivro.livros.size()}</strong></label>
                        <label ><strong>Resultado da busca: #{gerenciarLivro.resultadoDaPesquisa.size()}</strong></label>
                    </div>
                    <p:dataScroller value="#{gerenciarLivro.resultadoDaPesquisa}" mode="inline" var="livro" scrollHeight="500" chunkSize="10">
                        <fieldset >
                            <div class="col-xs-10 col-sm-10 col-md-11 pull-left">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="col-xs-9">
                                        <label><strong>#{livro.titulo}</strong></label>
                                    </div>
                                    <div class="col-xs-1">
                                        <label><i class="glyphicon glyphicon-book"></i> <strong>#{livro.exemplares.size()}</strong></label>
                                    </div>
                                    <div class="col-xs-1">
                                        <label><i class="glyphicon glyphicon-lock"></i> <strong>#{livro.totalDeExemplaresIndisponiveis}</strong></label>
                                    </div>
                                    <div class="col-xs-1">
                                        <label><i class="glyphicon glyphicon-user"></i> <strong>#{livro.espera.size()}</strong></label>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <label class="text-info" >#{livro.autor}</label>
                                </div>
                                <div class="col-xs-6 col-sm-6">
                                    <label>#{livro.editora}</label>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <label>#{livro.genero}</label>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <label>#{livro.ISBN}</label>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <label>#{livro.ano}</label>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <label>#{livro.edicao}</label>
                                </div>
                            </div>
                            <h:panelGroup rendered="#{acesso.logado}" >
                                <div class="col-xs-2 col-sm-2 col-md-1 pull-right">
                                    <div class="plus">
                                        <i class="glyphicon glyphicon-plus"> </i>
                                    </div>
                                </div>
                                <div class="col-xs-12 sub hide">
                                    <div class="form-group col-xs-4">
                                        <h:commandLink styleClass="btn btn-xs btn-inverse col-xs-12" action="#{gerenciarLivro.removerLivro(livro)}">
                                            <i class="glyphicon glyphicon-trash pull-left"> </i> Remover
                                        </h:commandLink>
                                    </div>
                                    <div class="form-group col-xs-4">
                                        <h:commandLink styleClass="btn btn-xs btn-primary col-xs-12" action="#{gerenciarLivro.editarLivro(livro)}">
                                            <i class="glyphicon glyphicon-edit pull-left"> </i> Editar
                                        </h:commandLink>
                                    </div>
                                    <div class="form-group col-xs-4">
                                        <h:commandLink styleClass="btn btn-xs btn-primary col-xs-12" action="#{gerenciarLivro.filaDeEspera(livro)}">
                                            <i class="glyphicon glyphicon-book pull-left"> </i> Fila de espera
                                        </h:commandLink>
                                    </div>
                                </div>
                            </h:panelGroup>
                        </fieldset>
                    </p:dataScroller>
                </h:form>                
            </div>
        </ui:define>
        <ui:define name="javascripts">
            <script type="text/javascript" >
                $(".plus").on("click", function () {
                    $(this).parent("div").next("div").toggleClass("hide");
                });
            </script>   
        </ui:define>
    </ui:composition>
</html>